*{
    margin: 0%;
    padding: 0%;
}

html{
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    background-image: url(./images/japan.png);
    background-color: rgb(58, 23, 31);
    color: antiquewhite;
}

.buttons{
    font-size: 3vh;
    text-shadow: 8px 8px 15px #000;
    margin: 2vh;
    padding: 2.5vh;
    max-width: fit-content;
    height: 18svh;
    border: 8px outset rgb(227, 191, 127);
    background-color: rgba(112, 73, 11, 0.907);
    background-image: linear-gradient(rgba(200, 131, 21), rgba(34, 22, 4));
    color:antiquewhite;
    border-radius: 50%;
}

.section-buttons{
    max-height: fit-content;
    padding: 3.5vh;
    border-radius: 40px;
}


/* .setup{
    border: 1px solid red;
} */

.nav-divs{
    padding: 1.5vh 0;
    width: 100%;
    height: fit-content;
    display: flex;
}

#titleDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 3vh;
    text-shadow: 8px 8px 15px #000;
}

#mainContainer{
    width: 100%;
    height: 74%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    max-width: 100%;
    max-height: 88%;
    border: 8px outset rgb(227, 191, 127);
    border-radius: 40px;
    box-shadow: 8px 8px 35px #000;
}

#bottomDiv {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh 0;
    z-index: 1000;
}


#menuButton{
    height: 10vh;
    max-width: none;
    width: 90%;
    border-radius: 20px;
}






































@media (orientation: portrait) {

    body{
        background-size: cover;
    }

    .buttons{
        font-size: 1.75vh;
        margin: 2%;
        padding: 1%;
        height: 9%;
        border: 4px outset rgb(227, 191, 127);
        border-radius: 100px;
    }

    .section-buttons{
        padding: 2vh;
        font-size: 2.5vh;
    }

    #titleDiv{
        font-size: 1.5vh;
    }

    img{
        max-width: 90%;
    }

}